<template>
    <div>
        <b-navbar fixed-top type="is-dark" spaced>
            <template #start>
                <b-navbar-item tag="router-link" :to="{ name: 'home' }">
                    Recursos
                </b-navbar-item>
            </template>
            <template #end>
                <b-navbar-item href="https://www.phpcfdi.com/">
                    phpCfdi
                </b-navbar-item>
            </template>
        </b-navbar>

        <router-view></router-view>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Puedes encontrar más información de la <i>construcción automatizada de recursos</i>
                    en <a href="https://www.phpcfdi.com/recursos/">Recursos de phpCfdi</a>.
                </p>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    name: 'App'
}
</script>
