<template>
    <section class="section">
        <div class="container">
            <p class="title">Construcción: {{ build.projectName }} @ {{ build.formattedDate }}</p>
            <div class="columns is-multiline">
                <build v-if="hasBuild" :build="build"></build>
            </div>
            <p class="title">Archivo de registro</p>
            <pre class="box is-family-code">{{ log }}</pre>
        </div>
    </section>
</template>

<script>
import BuildCard from '../components/BuildCard.vue'
import BuildModel from '../models/Build.js'

export default {
    data() {
        return {
            build: {},
            log: '',
        }
    },
    computed: {
        projectName() {
            return this.$route.params.projectName
        },
        timestamp() {
            return this.$route.params.timestamp
        },
        hasBuild() {
            return this.build instanceof BuildModel
        },
    },
    async created() {
        await this.loadAsyncData()
    },
    components: {Build: BuildCard},
    methods: {
        async loadAsyncData() {
            try {
                const response = await this.$http.get(
                    this.$apiurl('builds/' + this.projectName + '/' + this.timestamp),
                    {params: {per_page: this.per_page, page: this.current_page}}
                )
                this.build = BuildModel.from(response.data.build)
                this.log = response.data.log
            } catch (error) {
                await this.$router.replace({name: 'error'})
            }
        },
        onPageChange(page) {
            this.current_page = page
            this.loadAsyncData()
        }
    }
}
</script>
