<template>
        <div class="hero is-large is-danger">
            <div class="hero-body">
                <div class="container">
                    <p class="title">¡Ouch! ¿Kastapasanda?</p>
                    <p class="subtitle">Algo ha sucedido y no me lo esperaba</p>
                </div>
            </div>
        </div>
</template>

<script>
export default {
    name: "ErrorPage"
}
</script>

<style scoped>

</style>
