<template>
    <section class="section">
        <div class="container">
            <p class="title">Listado de proyectos de construcción continua</p>
            <div class="columns is-multiline">
                <build v-for="(build, index) in builds" :build="build" :key="index"></build>
            </div>
        </div>
    </section>
</template>

<script>
import BuildCard from '../components/BuildCard.vue'
import BuildModel from '../models/Build.js'

export default {
    data() {
        return {
            builds: []
        }
    },
    async created() {
        await this.retrieveAllBuilds()
    },
    components: {Build: BuildCard},
    methods: {
        async retrieveAllBuilds() {
            try {
                const response = await this.$http.get(this.$apiurl('builds'))
                this.builds = response.data.data.map(m => BuildModel.from(m))
            } catch (error) {
                await this.$router.replace({name: 'error'})
            }
        }
    }
}
</script>
