<template>
    <section class="section">
        <div class="container">
            <p class="title">Proyecto: {{ projectName }}</p>
            <div class="columns is-multiline">
                <build v-if="hasRecent" :build="recent"></build>
            </div>
            <p class="title">Últimas construcciones</p>
            <b-table v-if="hasBuilds" :data="builds" striped paginated backend-pagination :current-page="current_page" :total="total" :per-page="per_page" @page-change="onPageChange" pagination-position="top">
                <b-table-column field="formattedDate" label="Construcción" v-slot="props">
                    <router-link :to="{name: 'build', params: {projectName: projectName, timestamp: props.row.timestamp}}" >
                        {{ props.row.formattedDate }}
                    </router-link>
                </b-table-column>
                <b-table-column field="state" label="Estado" v-slot="props">
                    <build-status-tag :build="props.row"/>
                </b-table-column>
            </b-table>
            <div v-else><p>No existen construcciones</p></div>
        </div>
    </section>
</template>

<script>
import BuildCard from '../components/BuildCard.vue'
import BuildStatusTag from '../components/BuildStatusTag.vue'
import BuildModel from '../models/Build.js'

export default {
    data() {
        return {
            recent: {},
            builds: [],
            total: 0,
            per_page: 15,
            current_page: 1,
            last_page: 0,
            from: 0,
            to: 0,
            buildsColumns: [
                {
                    field: 'state',
                    label: 'Estado',
                },
                {
                    field: 'formattedDate',
                    label: 'Fecha',
                }
            ]
        }
    },
    computed: {
        projectName() {
            return this.$route.params.projectName
        },
        hasRecent() {
            return this.recent instanceof BuildModel
        },
        hasBuilds() {
            return this.builds.length > 0
        },
    },
    async created() {
        const page = this.parseQueryStringPage(this.$route.query);
        await this.loadPagerData(page)
    },
    components: {Build: BuildCard, BuildStatusTag},
    methods: {
        async loadPagerData(page) {
            try {
                const response = await this.$http.get(
                    this.$apiurl('builds/' + this.projectName),
                    {params: {per_page: this.per_page, page: page}}
                )
                this.recent = BuildModel.from(response.data.recent)
                this.builds = response.data.data.map(m => BuildModel.from(m))
                this.total = response.data.total
                this.per_page = response.data.per_page
                this.current_page = response.data.page
            } catch (error) {
                await this.$router.replace({name: 'error'})
            }
        },
        async onPageChange(page) {
            // register page change to history
            this.$router.push({ path: this.$route.path, query: {page: page} })
            await loadPagerData(page)
        },
        parseQueryStringPage(query) {
            return Math.max(1, Number.parseInt(query.page) || 1)
        },
    },
    async beforeRouteUpdate(to, from, next) {
        // capture event to respond on history.back
        const page = this.parseQueryStringPage(to.query)
        if (to.path === from.path && page !== this.current_page) {
            await this.loadPagerData(page)
        }
        next()
    },
}
</script>
