<template>
    <span class="tag is-medium" :class="{'is-success': build.isChanged, 'is-danger': build.isError, 'is-warning': build.isBuilding}">
        {{ build.state }}
    </span>
</template>

<script>
import BuildModel from "../models/Build";

export default {
    name: "BuildStatusTag",
    props: {
        build: {
            type: BuildModel,
            required: true,
        }
    }
}
</script>
