<template>
    <div class="column is-one-third">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <p class="title is-4">
                        <router-link :to="{name: 'project', params: {projectName: build.projectName}}">
                            {{ build.projectName }}
                        </router-link>
                    </p>

                    <div class="columns is-multiline is-vcentered">
                        <div class="column is-4 has-text-right">Estado</div>
                        <div class="column is-8 left"><build-status-tag :build="build"/></div>
                        <div class="column is-4 has-text-right">Ejecución</div>
                        <div class="column is-8 has-text-left">{{ build.formattedDate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import BuildModel from '../models/Build.js'
import BuildStatusTag from "./BuildStatusTag";

export default {
    components: {BuildStatusTag},
    props: {
        build: {
            type: BuildModel,
            required: true
        }
    }
}
</script>

<style scoped>

</style>
